* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Inter", serif;
  font-weight: 400;
}
.newsletter-section {
  background-color: #ff4a00;
  padding: 100px 0;
  position: relative;
}
.newsletter-section::before {
  content: "";
  width: 55%;
  height: 105%;
  clip-path: polygon(25% 0,100% 0,100% 100%,0% 100%);
  background-color: #000;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.newsletter-section .newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}
.newsletter-section .newsletter-container .newsletter-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.newsletter-section .newsletter-container .newsletter-content .newsletter-title {
  flex: 5;
  text-align: left;
  margin-right: 10px;
}
.newsletter-section .newsletter-container .newsletter-content .newsletter-title h2 {
  font-size: 38px;
  font-weight: bold;
  color: #ffffff;
}
.newsletter-section .newsletter-container .newsletter-content .newsletter-form-container {
  flex: 7;
  z-index: 100;
}
.newsletter-section .newsletter-container .newsletter-content .newsletter-form-container .newsletter-form {
  display: flex;
  align-items: center;
}
.newsletter-section .newsletter-container .newsletter-content .newsletter-form-container .newsletter-form input {
  border: none;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.newsletter-section .newsletter-container .newsletter-content .newsletter-form-container .newsletter-form button {
  background-color: #ff4a00;
  color: #ffffff;
  padding: 14px 26px;
  border: none;
  font-size: 20px;
}
.footer-section {
  background-color: #000;
  color: #ffffff;
  padding: 40px 50px;
}
.footer-section .footer-container .footer-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer-section .footer-container .footer-row {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 768px) {
  .footer-section .footer-container .footer-row {
    grid-template-columns: 1fr;
  }
}
.footer-section .footer-container .footer-column {
  justify-self: center;
}
.footer-section .footer-container .footer-column .footer-logo {
  margin-bottom: 12px;
}
.footer-section .footer-container .footer-column h5 {
  font-size: 24px;
  margin-bottom: 20px;
}
.footer-section .footer-container .footer-column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 26px;
}
.footer-section .footer-container .footer-column p,
.footer-section .footer-container .footer-column li {
  font-size: 18px;
  line-height: 1.6;
}
.footer-section .footer-container .footer-column li {
  transition: transform 0.5s;
  position: relative;
  transform-origin: left;
}
.footer-section .footer-container .footer-column li ::before {
  content: "";
  position: absolute;
  left: -18%;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #595959;
  transition: background-color 0.5s;
  transform-origin: left;
}
.footer-section .footer-container .footer-column li:hover {
  transform: scaleX(1.1);
}
.footer-section .footer-container .footer-column li:hover ::before {
  background-color: #ff4a00;
}
.footer-section .footer-container .footer-column a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
}
.footer-section .footer-container .footer-column a:hover {
  color: #ff4a00;
}
.footer-section .footer-container .footer-column .social-icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 768px) {
  .footer-section .footer-container .footer-column .social-icons {
    justify-content: center;
  }
}
.footer-section .footer-container .footer-column .social-icons a .social-icon {
  background-color: #595959;
  width: 36px;
  height: 36px;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.footer-section .footer-container .footer-column .social-icons a:hover .social-icon {
  border-radius: 12px;
  background-color: #ff4a00;
  color: #ffffff;
}
.footer-section .footer-container .footer-column .column-touch {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.5s;
}
@media (max-width: 768px) {
  .footer-section .footer-container .footer-column .column-touch {
    justify-content: center;
  }
}
.footer-section .footer-container .footer-column .column-touch i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 12px;
  transition: border-color 0.5s, color 0.5s;
}
.footer-section .footer-container .footer-column .column-touch:hover i {
  border-color: #ff4a00;
  color: #ff4a00;
  transform: rotateY(180deg);
}
.footer-section .footer-container .footer-column .column-touch .touch-text {
  transition: color 0.5s;
}
.footer-section .footer-container .footer-column .column-touch .touch-text:hover {
  color: #ff4a00;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .footer-container {
    padding: 20px 40px;
  }
  .footer-column {
    text-align: center;
  }
  .footer-column h5 {
    font-size: 20px;
  }
  .footer-column p,
  .footer-column li {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer-container {
    padding: 20px 30px;
  }
  .footer-column {
    text-align: center;
  }
  .footer-column h5 {
    font-size: 18px;
  }
  .footer-column p,
  .footer-column li {
    font-size: 14px;
  }
  .footer-column ul {
    margin-left: 0;
  }
}
