body {
  background-color: #000;
  color: #fff;
  font-family: Poppins, sans-serif;
}
.newsletter {
  position: relative;
  padding: 100px 68px;
  color: #fff;
  text-align: center;
  background-color: #ff4500;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.newsletter h2 {
  font-size: 36px;
  font-weight: bold;
  text-wrap: nowrap;
}
.newsletter .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
}
.newsletter input[type="email"] {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.newsletter input[type="email"]:focus {
  outline: none;
  border: none;
}
.newsletter button {
  background-color: #ff4500;
  border: none;
  padding: 20px 30px;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.newsletter button i {
  font-size: 14px;
}
.newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 105%;
  background-color: #000;
  clip-path: polygon(25% 0,100% 0,100% 100%,0% 100%);
}
@media (max-width: 768px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter h2 {
    font-size: 30px;
    z-index: 100;
  }
}
.footer {
  padding-top: 80px;
}
.footer .col {
  margin-bottom: 20px;
}
.footer h5 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
.footer p {
  font-size: 14px;
  line-height: 1.6;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 16px;
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}
.footer ul li i {
  margin-right: 18px;
  color: rgba(255,255,255,0.3);
  width: 8px;
  height: 8px;
}
.footer ul li:hover {
  color: #ff4500;
  cursor: pointer;
  transform: scaleX(1.1);
}
.footer ul li:hover i {
  color: #ff4500;
}
.footer ul .flex-touch {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer ul .flex-touch span {
  display: block;
}
.footer ul .flex-touch .icon-touch {
  color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(238,238,238,0.4196078431);
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer ul .flex-touch:hover {
  transform: scale(1);
}
.footer ul .flex-touch:hover .touch-head {
  color: #fff;
}
.footer ul .flex-touch:hover .icon-touch {
  transform: rotateY(180deg);
  color: #ff4500;
}
.footer .social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  transition: all 0.5s ease-in-out;
}
.footer .social-icons a:hover {
  background-color: #ff4500;
  border-radius: 12px;
}
.footer .copyright {
  text-align: center;
  border-top: 1px solid #8a8a8a;
}
.footer .copyright .copyright-text {
  padding: 20px 0;
  font-size: 18px;
}
.footer .copyright .copyright-text span {
  color: #ff4500;
  cursor: pointer;
}
